# Сгенерировано Cargo — скомпилированные файлы и исполняемые файлы
/target/

# Сгенерировано Tauri — схемы capabilities для автодополнения
/gen/

# SQLite базы на случай если кто-то запустит БД из этой директории
*.db
*.db-journal
*.db-shm
*.db-wal

# Бэкапы Lock файла
Cargo.lock.bak

# Профилирование / трассировка
*.profraw
*.profdata
perf.data*